extends layout

block content
    h1=title 
    form(action=`/discount/${discount.id}/edit` method="post")
        label(for="promo_code") promo_code
        input(class="form-control form-control-sm" type="text" id="promo_code" name="promo_code" value=discount.promo_code) 
        label(for="discount") discount
        input(class="form-control form-control-sm" type="number" id="discount" name="discount" value=discount.discount) 
        label(for="begin_at") begin_at
        input(class="form-control form-control-sm" type="datetime-local" id="begin_at" name="begin_at" value=new Date(discount.begin_at).toISOString().substring(0, 16)) 
        label(for="end_at") end_at
        input(class="form-control form-control-sm" type="datetime-local" id="end_at" name="end_at" value=new Date(discount.end_at).toISOString().substring(0, 16)) 
        button(class="btn btn-primary btn-sm my-3"  type="submit" disabled=!authentication) Update
