extends layout

block content
    form(action="/discountCreate" method="post")
        table(class="table table-hover")
            thead
                tr
                    th id
                    th promo_code
                    th discount
                    th begin_at
                    th end_at
                    th action
            tbody
                tr
                    td
                    td
                        input(class="form-control form-control-sm" type="text" name="promo_code") 
                    td
                        input(class="form-control form-control-sm" type="number" name="discount") 
                    td
                        input(class="form-control form-control-sm" type="datetime-local" name="begin_at") 
                    td
                        input(class="form-control form-control-sm" type="datetime-local" name="end_at") 
                    td 
                        button(class="btn btn-primary btn-sm"  type="submit" disabled=!authentication) Create
                each discount in discounts
                    tr
                        td #{discount.id}
                        td #{discount.promo_code}
                        td #{discount.discount}
                        td 
                            input(class="form-control form-control-sm" type="datetime-local" disabled value=new Date(discount.begin_at).toISOString().substring(0, 16)) 
                        td 
                            input(class="form-control form-control-sm" type="datetime-local" disabled value=new Date(discount.end_at).toISOString().substring(0, 16)) 
                        block tableActions
                            include tableActions
                            +tableActions({discount})
//- block pagination
//-     include paginator
//-     +paginator(total, `/discounts/`)