extends layout

block content
    form(action=`/products`, method="post")
        <div class="input-group mb-3">
            input(name="input" type="text" class="form-control" value=`${formInput}` placeholder="" aria-label="Search" aria-describedby="button-addon1")
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
            </div>
        </div>
    table(class="table table-hover products-table")
        thead
            tr
                th ID
                th Name
                th Image
                th Category ID
                th Discount ID
                th Description
                th Rating
                th Vote count
                th Available
                th Arrive date
                th Action
        tbody
            each product in products
                tr
                    td #{product.id}
                    td #{product.name}
                    td
                        img(src=server.url+"/file/"+product.img_src)
                    td #{product.category_id}
                    td #{product.discount_id}
                    td #{product.description}
                    td #{product.rating}
                    td #{product.vote_count}
                    td #{product.available}
                    td #{product.arrive_date}
                    //- td #{product.created_at}
                    //- td #{product.updated_at}
                    //- td 
                    //-     include productSpecs
                    td 
                        a(href=`/product/${product.id}`) Edit |
block pagination
    include paginator
    +paginator(total, formInput ? `/products/input=${formInput}&` : '/products/' )