div
    h1=title 
    table(class="table table-hover")
        thead
            tr
                th select 
                th name
                th value
                th val_type
        tbody
            if product.Specs
                each spec in product.Specs
                    tr
                        td
                            <input type="checkbox" checked>
                        td #{spec.name}
                        td
                            <select class="custom-select custom-select-sm" disabled>
                                each s in spec_values[spec.name]
                                    if s.value == spec.value
                                        option(value=s.value selected) #{s.value}
                                    else 
                                        option(value=s.value) #{s.value}
                            </select>
                        td #{spec.val_type}
            else
                each name in spec_names
                    tr
                        td
                            <input type="checkbox">
                        td #{name}
                        td
                            <select class="custom-select custom-select-sm" name="specs">
                                option(value="") Select value
                                each spec in spec_values[name]
                                    option(value={name: name, value: spec.value}) #{spec.value}
                            </select>
                        td