extends layout

block content
    h1=title 
    form(action=`/product/${product.id}/edit`, method="post", enctype="multipart/form-data")
        table(class="table")
            tbody
                tr
                    td
                        img(src=`http://localhost/file/${product.img_src}` style="height:6rem") 
                    td
                        input(type="file", name="image")
                tr
                    td id
                    td
                        input(class="form-control form-control-sm" type="text", name="id" value=`${product.id}`) 
                tr
                    td name
                    td
                        input(class="form-control form-control-sm" type="text", name="name" value=`${product.name}`) 
                tr
                    td price
                    td
                        input(class="form-control form-control-sm" type="text", name="price" value=`${product.price}`) 
                tr
                    td category_id
                    td
                        input(class="form-control form-control-sm" type="text" name="category_id" value=`${product.category_id}`) 
                tr
                    td discount_id
                    td(class="row")
                        div(class="col-3")
                            input(class="form-control form-control-sm" type="text" value=`${product.discount_id}` disabled) 
                        div(class="col-9")
                            <select class="custom-select custom-select-sm" name="discount_id">
                                <option value="0">None</option>
                                each discount in discounts
                                    if product.discount_id == discount.id
                                        option(value=discount.id selected) #{JSON.stringify(discount)}
                                    else 
                                        option(value=discount.id) #{JSON.stringify(discount)}
                            </select>
                tr
                    td description
                    td
                        input(class="form-control form-control-sm" type="text", name="description" value=`${product.description}`) 
                tr
                    td rating
                    td
                        input(class="form-control form-control-sm" type="text", name="rating" value=`${product.rating}`) 
                tr
                    td vote_count
                    td
                        input(class="form-control form-control-sm" type="text", name="vote_count" value=`${product.vote_count}`) 
                tr
                    td available
                    td
                        input(class="form-control form-control-sm" type="text", name="available" value=`${product.available}`) 
                tr
                    td arrive_date
                    td
                        input(class="form-control form-control-sm" type="text", name="arrive_date" value=`${product.arrive_date}` disabled) 
        button(class="btn btn-primary"  type="submit") Submit
