div
    table(class="table table-hover")
        thead
            tr
                th name
                th value
                th val_type
        tbody
            each spec in (product.Specs || specs)
                tr
                    td 
                        input(type="text" name=`specs[${spec.name}][name]` value=spec.name)
                    td
                        select(class="custom-select custom-select-sm"  name=`specs[${spec.name}][value]`)
                            if product.Specs
                                each s in spec_values[spec.name]
                                    if s.value == spec.value
                                        option(value=s.value selected) #{s.value}
                                    else 
                                        option(value=s.value) #{s.value}
                            else
                                option(value="") Select 
                                each s in spec_values[spec.name]
                                    option(value=s.value) #{s.value}
                    td  
                        input(type="text" name=`specs[${spec.name}][val_type]` value=spec.val_type)
            //- each empty in ["","",""]
            //-     tr 
            //-         tr
            //-             td 
            //-                 <input type="text">
            //-             td
            //-                 <input type="text">
            //-             td
            //-                 <input type="text">            