mixin tableActions(item)
    -
        var category = Object.keys(item)[0],
            id = item[category].id;
    td(class="column-action")
        a(href=`/${category}/${id}`) Edit
        span &nbsp;|&nbsp;
        a(href=`/delete?itemCategory=${category}&id=${id}&href=${url}`) Delete