extends layout

block content
    table(class="table table-hover")
        thead
            tr
                th ID
                th Name
                th Currency
                th Language
                th Created Date
                th Updated Date
        tbody
            each user in users
                tr
                    td #{user.id}
                    td #{user.name}
                    td #{user.currency}
                    td #{user.language}
                    td #{user.created_at}
                    td #{user.updated_at}
    //- p Welcome #{JSON.stringify(user)}
block pagination
    include paginator
    +paginator(total, `/users/`)